{% extends "base.html" %}
{% load staticfiles %}
{% load browserid %}

{% block title %}
   <title>Performance Alert Manager</title>
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'browserid/persona-buttons.css' %}">
{% endblock %}

{% block main_content %}
  <div class="containerv">
    <div class="panel-group" id="accordion">
    {% for keyrev,row in alerts.items %}
       <div class="panel panel-danger">
          <div class="panel-heading">
             <h4 class="panel-title">
             <input id="check-{{keyrev}}" onclick="checkbox_click(this);" type="checkbox">
                <a data-toggle="collapse" data-parent="#accordion" 
                   href="#collapse{{keyrev}}">
                   {{keyrev}}
                </a>
             </h4>
          </div>
          <div id="collapse{{keyrev}}" class="panel-collapse collapse in">
            <div class="panel-body">
              <table class="table table-bordered">

                <tbody>
                  {% for alert in row %}
                    <tr id="{{alert.id}}">
                        <td class="check-alert"><input id="check-{{keyrev}}-{{alert.id}}" type=
                        "checkbox"></td>

                        <td class="data">{{alert.push_date}}</td>

                        <td class="data">{{alert.branch}}</td>

                        <td class="data">{{alert.test}}</td>

                        <td class="data">{{alert.platform}}</td>

                        <td class="data">{{alert.percent}}</td>

                        <td class="data">
                            <p><a href=
                            "{{alert.graphurl}}">
                            graphurl</a> || <a href=
                            "{{alert.changeset}}">
                            changeset</a></p>
                        </td>

                        <td class="data">
                            <a href=
                            "{{alert.bug}}">1139678</a><a href="#"
                            onclick=
                            "updateBug(8779, '1139678', 'Investigating');">+</a> ||
                            <a href=
                            "{{alert.treeherderurl}}">
                            tbplurl</a>
                        </td>
                        {% if alert.status %}
                        <td class="data">{{alert.status}}</td>
                        {% else %}
                        <td class="data">NEW</td>
                        {% endif %}
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
       </div>
       
    {% endfor %}  
    </div>
  </div>
{% endblock %}

{% block extra_js %}
    <script src="https://login.persona.org/include.js"></script>
    <script src="{% static 'browserid/api.js' %}"></script>
    <script src="{% static 'browserid/browserid.js' %}"></script>
    <script type="text/javascript">
    function checkbox_click(alert) {
        $('[id^="'+alert.id+'"]').prop('checked', alert.checked);
    }

    function performAction (argument) {
        alert("Not Implemented yet");
    }
    {% for keyrev in alerts %}
       $(function () { $('#collapse{{keyrev}}').collapse('hide')});
    {% endfor %}
    </script> 
{% endblock %}
