{% extends "base.html" %}
{% load staticfiles %}
{% load browserid %}

{% block title %}
   <title>Performance Alert Manager</title>
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block main_content %}
  <div class="containerv">
    <div class="panel-group" id="accordion">
    {% for keyrev,row in alerts.items %}
       <div class="panel panel-danger">
          <div class="panel-heading">
             <h4 class="panel-title">
             <input id="check-{{keyrev}}" onclick="checkbox_click(this);" type="checkbox">
                <a data-toggle="collapse" data-parent="#accordion" 
                   href="#collapse{{keyrev}}">
                   {{keyrev}}
                </a>
             </h4>
          </div>
          <div id="collapse{{keyrev}}" class="panel-collapse collapse in">
            <div class="panel-body">
              <table class="table table-bordered">

                <tbody>
                  {% for alert in row.alerts %}
                    <tr id="{{alert.id}}">
                        <td class="check-alert"><input id="check-{{keyrev}}-{{alert.id}}" type=
                        "checkbox"></td>

                        <td class="data">{{alert.push_date}}</td>

                        <td class="data">{{alert.branch}}</td>

                        <td class="data">{{alert.test}}</td>

                        <td class="data">{{alert.platform}}</td>

                        <td class="data">{{alert.percent}}</td>

                        <td class="data">
                            <p><a href=
                            "{{alert.graphurl}}">
                            graphurl</a> || <a href=
                            "{{alert.changeset}}">
                            changeset</a></p>
                        </td>

                        <td class="data">
                          {% if alert.bug %}
                            <a href=
                            "https://bugzilla.mozilla.org/show_bug.cgi?id={{alert.bug}}">{{alert.bug}}</a>
                          {% else %}                            
                          <a href='#'>Bug+</a>
                          {% endif %} ||
                            <a href=
                            "{{alert.treeherderurl}}">
                            tbplurl</a>
                        </td>
                        {% if alert.status %}
                        <td class="data">{{alert.status}}</td>
                        {% else %}
                        <td class="data">NEW</td>
                        {% endif %}
                    </tr>
                  {% endfor %}
                  {% for alert in row.merged_alerts %}
                    <tr id="{{alert.id}}" class="mergeddata">
                        <td class="check-alert"><input id="check-{{keyrev}}-{{alert.id}}" type=
                        "checkbox"></td>

                        <td class="data">{{alert.push_date}}</td>

                        <td class="data">{{alert.branch}}</td>

                        <td class="data">{{alert.test}}</td>

                        <td class="data">{{alert.platform}}</td>

                        <td class="data">{{alert.percent}}</td>

                        <td class="data">
                            <p><a href=
                            "{{alert.graphurl}}">
                            graphurl</a> || <a href=
                            "{{alert.changeset}}">
                            changeset</a></p>
                        </td>

                        <td class="data">
                          {% if alert.bug %}
                            <a href=
                            "https://bugzilla.mozilla.org/show_bug.cgi?id={{alert.bug}}">{{alert.bug}}</a>
                          {% else %}                            
                          <a href='#'>Bug+</a>
                          {% endif %}  ||
                            <a href=
                            "{{alert.treeherderurl}}">
                            tbplurl</a>
                        </td>
                        {% if alert.status %}
                        <td class="data">{{alert.status}}</td>
                        {% else %}
                        <td class="data">NEW</td>
                        {% endif %}
                    </tr>

                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
       </div>
       
    {% endfor %}  
    </div>
  </div>
  <div  id="addCommentpopup" style="display: none;">
          <p>Name/email  <input required type="text" id="commentName" value=""></p>
          <p>Comment <textarea required cols="20" rows="5" id="commentText"></textarea></p>
  </div>
  <div  id="changeBranchpopup" style="display: none;">
      <p>
        <select class="form-control" id="branchName">
          <option selected>Select Branch</option>
          <option>Mozilla-Inbound</option>
          <option>B2g-Inbound-Non-PGO</option>
          <option>Firefox</option>
          <option>Mozilla-Inbound-Non-PGO</option>
          <option>Firefox-Non-PGO</option>
          <option>Mozilla-Beta</option>
          <option>Fx-Team-Non-PGO</option>
          <option>Mozilla-Aurora</option>
          <option>Fx-Team</option>
          <option>B2g-Inbound</option>
          <option>mobile</option>
        </select>
      </p>
      <p>Revision <input required type="text" id="revisionName" value=""></p>
  </div>

  <div  id="fileBugpopup" style="display: none;">
        <p>Summary <textarea required cols="90" rows="2" id="summaryText" value=""></textarea></p>
        <p>Description <textarea required cols="90" rows="14" id="descriptionText" value=""></textarea></p>
  </div>

  <div  id="markDuplicatepopup" style="display: none;">
        <p>Keyrevision  <input required type="text" id="markDuplicateRev" value=""></p>
  </div>

  <div  id="BackoutPopup" style="display: none;">
        <p>Bug  <input required type="text" id="BackoutPopupText" value=""></p>
  </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
    function checkbox_click(alert) {
        $('[id^="'+alert.id+'"]').prop('checked', alert.checked);
    }

    {% for keyrev in alerts %}
       $(function () { $('#collapse{{keyrev}}').collapse('show')});
    {% endfor %}
    </script>
    <script src="https://login.persona.org/include.js"></script>
    <script src="{% static 'js/alerts.js' %}"></script> 
{% endblock %}